.root {
  padding-top: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  margin-top: 2em;
  max-width: var(--max-content-width);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
